<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta_exitosa por id</title>
</head>
<body>
    <h1>!Vendido¡</h1>
    <h2>Usted ha comprado el siguiente producto</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>volumen en oz</th>
                <th>Tipo de vaso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{producto_vendido.nombre}}</td>
                <td> {{producto_vendido.volumen_oz}} onzas</td>
                <td>{{producto_vendido.tipo_vaso}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>